/* Common property */
body {
  font-family: "Open sans";
  margin: 0;
  padding: 0;
}
.space-inside {
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.show-inline {
  display: flex;
}
.fit-items-x {
  justify-content: space-between;
}
.align-both {
  align-items: center;
}

/* Hover */
.hover-me-btn:hover {
  transform: scale(0.95);
  background-color: rgba(255, 255, 255, 0.5);
}
.nav-bar-li a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.hover-on-social-icons:hover {
  transform: scale(0.95);
}
.cv-dwn-btn:hover {
  transform: scale(0.95);
}
.sec-4-a-div-github:hover {
  transform: scale(0.95);
}
.sec-4-a-div-live:hover {
  transform: scale(0.95);
}
.section {
  border-bottom: 2px solid silver;
}
#hamburger {
  display: none;
}

.show-me {
  display: block;
}
.hide-me {
  display: none;
}

/* Navbar */
nav {
  position: relative;
}
.nav-bar {
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  padding: 1rem 2rem;
  box-sizing: border-box;
  color: #fff;
}

.nav-bar-links {
  width: 70%;
}

.nav-bar-ul {
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  list-style-type: none;
}

.nav-bar-li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.extra-nav-bar {
  position: absolute;
  right: 0;
  background-color: rgba(77, 70, 70, 0.7);
  width: 30%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-radius: 8px;
}
.nav-bar-ul-extra {
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  list-style-type: none;
}

/* Main section */
/* Section-1 */
.section-1 {
  background-color: rgb(65, 64, 66);
}
.sec-1-text {
  color: #fff;
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
}

.sec-1-text h1 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 4rem;
}
.sec-1-img-div {
  border: 1px solid gray;
  border-radius: 20px;
  width: 45%;
}
.sec-1-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec-1-btn {
  border: none;
  padding: 15px 40px;
  border-radius: 16px;
  font-weight: bold;
}

/* Section-2 */
.section-2 {
  background-color: #fefded;
  flex-direction: column;
  align-items: center;
}
.sec-about {
  width: 100%;
}

.sec-2-text {
  width: 45%;
}
.sec-2-img-div {
  width: 18rem;
  height: 18rem;
}
.sec-2-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 100%;
  border: 1px solid gray;
}
/* Section-3 */
.section-3 {
  background-color: #dff5ff;
  flex-direction: column;
  align-items: center;
}
.sec-skills {
  margin-bottom: 2rem;
  justify-content: space-between;
}
.sec-3-img {
  width: 40%;
}
.sec-3-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec-3-text {
  width: 55%;
}
.sec-3-skils {
  display: flex;
  justify-content: space-between;
}
.sec-3-progress-skill {
  width: 100%;
  height: 1rem;
  background-color: #e8edf5;
}
.sec-3-progress-html {
  margin: 0;
  padding: 0;
  width: 95%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}
.sec-3-progress-css {
  margin: 0;
  padding: 0;
  width: 92%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}
.sec-3-progress-bootstrap {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}
.sec-3-progress-tailwind {
  margin: 0;
  padding: 0;
  width: 75%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}
.sec-3-progress-javascript {
  margin: 0;
  padding: 0;
  width: 65%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}
.sec-3-progress-react {
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}
.sec-3-progress-git {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  background-color: rgb(55, 81, 126);
}

/* Section-4 */
.section-4 {
  /* background-color: #fefaf6; */
  background-color: #3c5b6f;
  flex-direction: column;
  align-items: center;
}
.sec-4-card {
  width: 20rem;
  height: 18rem;
  border: 1px solid black;
  border-radius: 16px;
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
}

.sec-4-cards {
  flex-wrap: wrap;
  gap: 3rem;
}

.sec-4-a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 8px;
  background-color: #a79c9c;
}
/* .sec-4-a-div {
  width: 50%;
} */
/* Section-5 */
.sec-5-resume-div {
  margin: 0 auto;
  width: 80%;
  border-radius: 16px;
  margin-bottom: 1rem;
}
.sec-5-resume-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 16px;
}
.section-5 {
  /* background-color: #eef5ff; */
  background-color: #704264;
  flex-direction: column;
  align-items: center;
}
.sec-5-btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  background-color: #0d9276;
}

/* Section-6 */
.section-6 {
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 3rem 0 2rem 0;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  box-sizing: border-box;
}
.footer-icons {
  width: 80%;
}

@media only screen and (min-width: 601px) {
  .extra-nav-bar {
    display: none;
  }
}
/* Media queries */
@media only screen and (max-width: 600px) {
  #hamburger {
    display: block;
  }
  .nav-bar-ul {
    display: none;
  }
  .section-1,
  .sec-about {
    flex-direction: column-reverse;
  }
  .sec-1-text,
  .sec-1-img-div,
  .sec-skills {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .sec-about,
  .sec-skills {
    align-items: center;
  }
  .sec-2-text,
  .sec-3-text {
    width: 100%;
    text-align: center;
  }
  .sec-4-cards {
    flex-direction: column;
    align-items: center;
  }
  .sec-skills {
    flex-direction: column;
  }
  .sec-3-text {
    margin-bottom: 1rem;
  }
}
